extends layout
block content
    section#left-column
        h1 Vote!
        p Click to vote, right click to unvote
        p Username:
            span#user
        br
        label(for="newGame") Add a game:
        input#newGame
        br
        br
        button#reset Reset votes!
        br
        br
        p Top ten:
        ul#leader
    section#right-column
        ul#games
    script(src="javascripts/main.js")