extends layout
block content
    h1 Vote!
    p Username:
        span#user
    br
    label(for="newGame") Add a game:
    input#newGame
    p Click to vote, right click to unvote
    button#reset Reset votes!
    p Current leader:
        span#leader
    ul#games
    script(src="javascripts/main.js")