* {
    box-sizing: border-box;
}
body, html {
    background: #ccc;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}
h1 {
    font-size: 3em;
}
a {
    color: #00B7FF;
}
button.remove {
    float: right;
}
ul {
    padding: 0;
    margin: 0;
}
ul#games {
    list-style: none;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
#games li {
    width: 475px;
    padding: 5px;
    background: #eee;
    margin-bottom: 5px;
    margin-right: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}
button {
    border: 1px solid #444444;
    border-radius: 2px;
}
.voted {
    background: #008800;
    color: white;
}
p {
    margin: 0.25em 0 0 0;
}
#left-column {
    border-right: 1px solid black;
    padding: 20px;
    background: #eee;
    height: 100%;
    float: left;
    width: 400px;
}
.right-column {
    float: right;
    width: calc(100% - 400px);
    padding: 10px;
}
