body {
    background: #ccc;
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
button.remove {
    float: right;
}
#leader {
    font-weight: bold;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    padding: 5px;
    background: #ddd;
    margin-bottom: 5px;
}
button {
    border: 1px solid #444444;
    border-radius: 2px;
}
.voted {
    background: #008800;
    color: white;
}
p {
    margin: 0.25em 0 0 0;
}